{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
<h1>{% trans "Nuevo miembro del gym" %}</h1>
<form action="" method="post" class="form"> {% csrf_token %}
  {% bootstrap_form member_form %}
  {% bootstrap_form payment_form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary pull-right">{% trans "Guardar" %}</button>
  {% endbuttons %}
</form>
{% endblock %}


{% block jsscripts %}
<script>
$(document).ready(function() {

  $('#id_payment-add_payment').change(function(event) {
      console.log($('#id_payment-add_payment:checked').length);
      if ($('#id_payment-add_payment:checked').length > 0) {
        $('#id_payment-payment_period')
        .parent('.form-group').css({'display': 'block'});
        $('#id_payment-payment_amount')
        .parent('.form-group').css({'display': 'block'});
      } else {
        $('#id_payment-payment_period')
        .parent('.form-group').css({'display': 'none'});
        $('#id_payment-payment_amount')
        .parent('.form-group').css({'display': 'none'});
      }
  });
  $('#id_payment-add_payment').change();
})
</script>
{% endblock %}
